.App-body {
  background-color: blue;
  padding-top: 16vh;
  padding-bottom: 3vh;
}

.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Nav-logo {
  height: 60px;
  width: 60px;
}

.Nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Nav-icon {
  height: 20px;
  width: 20px;
}

@media (min-width: 650px) {
  .Header {
    padding: 2vh;
  }
}
