.App-body {
  background-color: blue;
  padding-top: 16vh;
  padding-bottom: 3vh;
}

.Header {
  padding: 1vh;
}

.Nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* @media (max-width: 500px) {
  .Toggle {
    padding-left: 13vh;
  }
}
/* 
.Toggle {
  justify-self: flex-start;
  background-color: orange;
} */ 