.App-body {
  padding-top: 16vh;
  padding-bottom: 3vh;
}

.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Nav-logo {
  height: 60px;
  width: 60px;
}

.Nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Nav-icon {
  height: 20px;
  width: 20px;
}

@media (min-width: 650px) {
  .Header {
    padding: 2vh;
  }
}

@media (min-width: 768px) {
  .Menu {
    display: none;
  }
}

.Words {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3939f1;
}

.Page-header {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a3939f1;
  font-weight: bolder;
  padding-bottom: 2vh;
}

.Center-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Auth-page {
  padding-top: 4vh;
}

.Form {
  width: 80%;
}

.Auth-links {
  padding-top: 2vh;
}

.Auth-link {
  padding: 1.3vh;
  color: rgb(2, 75, 2);
}

.Auth-link:hover {
  color: #003319;
  text-decoration: underline;
}

.Logout {
  padding-top: 3vh;
  color: rgb(2, 75, 2);
  text-decoration: underline;
}

.Logout:hover {
  color: #003319;
  text-decoration: underline;
}

.Accordian {
  width: 93%;
  padding-top: 3vh;
}
